@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/inter-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/inter-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/inter-900.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/inter-700.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: black;
    font-weight: 900;
    src: url(../fonts/inter-900.woff2) format("woff2");
    font-display: swap;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #FEAFC3;
    color: #2D3440;
    vertical-align: top;
}

/* Pages */

.navigation-link {
    line-height: 20px;
    color: #2D3440;
    font-weight: 400;
    text-align: left; 
    text-decoration: none;
}

.navigation-phone {
    font-weight: 700;
    font-style: bold;
}


.navigation-item:nth-child(-n+3) {
    font-size: 16px;
}

.enter, .cart {
    font-size: 14px;
}

/* Slides */

.title-ice-cream {
    font-size: 36px;
    line-height: 46px;
    font-weight: 900;
    font-style: black;
    text-align: left;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-style: bold;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: #2D3440;

}

/* Promotion */

.title-promotion {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
    font-style: black;
}

.banner-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-style: bold;
}

.banners p {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

/* Popular items */

.popular-items-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    font-style: black;
    text-align: center;
}

.product-card-title {
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    font-weight: 700;
    font-style: bold;
}

.product-card p {
    font-size: 16px;
    line-height: 22px;
}

.product-card-link {
    text-decoration: none;
}

.product-card-price {
    text-align: left;
}

/* About */

.about-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    font-style: black;
    text-align: center;
}

.about p {
    font-size: 16px;
    line-height: 24px;
    color: #565C66;
    text-align: left;
}

/* News and Subscription */

.news {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    background-image: url(../images/serving.jpg);
    background-repeat: no-repeat;
    background-position: left;
}

.news-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-style: bold;
}

.subscription {
    font-size:  16px;
}

.subscription-letter, .button-feedback {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    font-style: bold;
    color: #FCFCFC;
    text-align: center;
    background-color:#FF2F64;
}

/* Delivery */

.delivery {
    font-size: 16px;
    line-height: 22px;
    background-image:url(../images/delivery.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.delivery-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    font-style: black;
    text-align: left;
}

label {
    font-size: 16px;
    line-height: 20px;
    font-style: bold;
    font-weight: 700;
    text-align: left;
}

/* Contacts */

.contacts {
    font-size: 16px;
    line-height: 22px;
    background-image: url(../images/address.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

address {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

.contact-phone {
    text-decoration: none;
    color:#2D3440;
}

.hours {
    font-size: 14px;
    line-height: 20px;
}

/* Footer */

footer {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color:#2D3440;
    vertical-align: center;
}

.made-link {
    color: #2D3440;
}

.item-link {
    font-size: 12px;
    line-height: 16px;
} 

/* Catalog */

.main-inner {
    font-size: 14px;
    line-height: 20px;
}

.navigation-link-current {
    background-color:#FF2F64;
    color: #FCFCFC;
}

.breadcrumbs-link {
    color: #2D3440;
    font-weight: 700;
    font-style: bold;
}

.page-main {
    text-decoration: none;
}

.page-catalog {
    text-decoration: underline;
}

.catalog-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    font-style: black;
    text-align: left;
}